<div class="container-fluid back" style="font-family:'Playfair Display', serif;font-weight: 900; height:27.8em;padding-bottom:0.5%; background-image:url('/static/images/home.jpeg') ; background-repeat: no-repeat;background-size: cover;">
    <div class="text" style="color:black;">
        <h1 style="padding-top: 200px; letter-spacing: 6px; text-align: center;">Hi There, <br> Welcome  To <br> <span style="color:darkolivegreen "><strong>CERTIFY</strong></span></h1>
        <h5 style="text-align: center;align-items: center;">Store your credentials with us!</h5>
    </div>
</div>