<nav style="font-family:'Playfair Display', serif;margin-bottom: 0 !important; "class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
        {% if user.is_authenticated %}
        <div class="col-md-4 navbar-nav navbar-center"style="margin-top: 3.0em">
          <a style="color:black; margin-left: 8%;font-size: 30px;"class="nav-link" href="/"><strong>TEAU HOSTELZ</strong><span class="sr-only">(current)</span></a>
        </div>
  
        <ul class="nav navbar-nav navbar-left"style="margin-left: 50%;">
          <li><a style="color:black;font-size:2em;margin-top: 1.4em" href="/"><span class="glyphicon glyphicon-home"></span></a></li>
  
          <li class="dropdown">
            <a href="#" style="color:black;font-size:2em;margin-top: 1.4em" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span></a>
            <ul class="dropdown-menu">
              <li><a style="color:black;font-size:1.3em;" href="/profile">Profile</a></li>
              <li role="separator" class="divider"></li>
              <li><a style="color:black;font-size:1.3em;" href="/logout"><span class="glyphicon glyphicon-log-out">Logout</span></a></li>
              {% else %}
              <li><a style="color:black;font-size:1.3em;margin-top: 1.4em" href="/login"><span class="glyphicon glyphicon-log-in">Login</span></a></li>
            </ul>
          </li>
        </ul>
        {% endif %}
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>