{% extends 'base.html' %} 
{%load bootstrap3%} 
{% block content %}
<div class="container"style="margin-top:5%;color:black;margin-left:40%; width:max-content ;border-style:ridge ;box-shadow: 0 3px 10px rgb(0 0 0/1);">
  <h1 style="margin-top:10%;">Sign Up Here</h1>
  <button style="margin-left:23%;background-color:darkolivegreen;"class="btn btn-sm btn mt-4"><a style="color: black;" href="{% url 'matron_signup'%}">Matron Sign Up</a></button><br><br><br>
  <button style="margin-left:23%;background-color: darkolivegreen;"class="btn btn-sm btn mt-4"><a style="color: black;" href="{% url 'student_signup'%}">Student Sign Up</a></button>

</div>
{%endblock%}

