{% extends 'base.html'%}
{% load bootstrap3 %}
{% block content%}
<br><br>
<div class="container" style="margin-top:0.2%;color:black;margin-left:35%; width:max-content ;border-style:ridge ;box-shadow: 0 3px 10px rgb(0 0 0/1);">
    <br>
<form method="POST" accept-charset="utf-8">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button type="submit" style="font-size:1em;" class="btn btn-warning btn-sm mr-4">SIGN UP</button>
</form>
Have an account? <br>
<a class="btn btn-warning btn-sm mr-4" style="font-size:1em;" href="{% url 'login_view'%}" >LOGIN HERE</a>
</div>
<br>
{% endblock %}