{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <h2 align="center"><u>Waiting List</u></h2>
    <div id="rates">
      <div class="titles">
          <p class="title ">Email</p>
          <p class="title ">Phone_number</p>
  
      </div>
      {% for person in waiting_list%}
      <div class="details">
          <p class="content">{{person.email}}</p>
          <p class="design">{{person.phone_number}}</p>
      </div>
      {% endfor %}
    </div>
</div>
{% endblock %}