#rates{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 0 10%;
  }
  .details, .titles{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    padding-bottom: 3rem;
    margin-right: 40%;
  }
  .title{
    font-size:1.4em ;
    margin-left: -2em;
  }